@model Core.Dto.WordDto
@{
    ViewData["Title"] = "AddWord";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    body {
        background-color: #f2f2f2;
        background-image: url('image\\foto.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="\lib\jquery\dist\jquery.js"></script>
<h2 class="text-center" style="margin-top:50px;">Add Word to Your Dictionary </h2>

@using (Html.BeginForm("AddWord", "Word", FormMethod.Post))
{
    <div class="row" style="margin-top:300px;">
        <div class="column text-center">
            <label style="color:blue; font-weight:bold;">English :</label>
            @Html.TextBoxFor(x=>x.EnglishWord,new {@class="custom-input"})
        </div>
        <div class="column text-center" style="margin-left: 100px; margin-right: 100px;">
            <label style="color:red; font-weight:bold;">Turkish :</label>
            @Html.TextBoxFor(x=>x.TurkishWord,new {@class= "custom-input"})
        </div>
        <div class="column text-center">
            <button class="btn btn-outline-info" id="btn1" style="background-color:orange; color:white;">Save</button>
        </div>
    </div>
}
<script>
    $('#btn1').click(function (event) {
        event.preventDefault(); // Formun otomatik submit olmasını engeller

        swal({
            title: "Başarılı",
            text: "Kelime başarıyla eklendi!",
            icon: "success",
            button: "Tamam",
        }).then(function () {
            $('form').submit(); // Formun submit işlemini gerçekleştirir
        });
    });
</script>
