@{
    Layout = null;
}
@model RegisterViewModel

<link href="\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

<style>
    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .mask {
        min-height: 100vh;
    }
</style>


<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        @if (TempData["SuccessMessage"]!=null)
                        {
                            <div class="alert alert-info" role="alert">@TempData["SuccessMessage"]</div>
                        }
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                        <form asp-controller="Register" asp-action="Register" method="post">

                            <div class="form-group">
                                <label class="form-label" for="UserName" asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="Email" asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="Phone" asp-for="Phone"></label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="Password" asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="PasswordConfirm" asp-for="PasswordConfirm"></label>
                                <input asp-for="PasswordConfirm" class="form-control" />
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-outline-secondary " style="margin-top:10px;" asp" type="submit">Register</button>
                                    <p class="registration-link mb-0">Already Have a Account ? <a href="#">Log in</a></p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




